.main-page {
  margin: 0;
  text-align: center;
  padding-top: 15%;
  background-image: linear-gradient(
    180deg,
    rgb(77, 112, 136),
    rgb(255, 255, 255)
  );
}

.btn {
  background-color: rgb(133, 160, 209) !important;
}
